
body {
  background-color: #F7F7FF; 
  margin: 0px 10px 10px 10px;
  font-family: Arial, sans-serif;
}

.menu-bar {
  background-color: #BDD5EA;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}

.item {
  color: #577399;
  background-color: transparent;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
}

.item.title {
  font-weight: 600;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

